.cabeçalho {
    background-color:#000000;
    color: #0B60B0;
    display:flex;
    justify-content: space-around;
    }
    .cabeçalho-título {
        color:#40A2D8;
    }
    
    .cabeçalho-lista{
        color: #F0EDCF;
       }
    
    .cabeçalho-imagem{
        width: 20%;
    }